<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New chat</title>
    <link rel="stylesheet" href="/style2.css">
</head>
<body>
    <h3>Create another msg...</h3>
    <form method="POST" action="/chats">
        <input placeholder="Your Name:" name="from"><br><br>
        <textarea name="msg" placeholder="Enter the msg"></textarea>
        <br> <br><input placeholder="Receiver Name:" name="to">
        <br> <br><button>SUBMIT</button>
    </form>
    
</body>
</html>